@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme-color: #a9c46c;
  --theme-color-alt: #657540;
  --theme-color-white: #e5edd2;
  --theme-background: #595959;
  --theme-background-dark: #26262633;
  --theme-background-light: #8a8a8a;
  --theme-background-dark: #26262633;
  --font-color: #e5edd2;
  --font-size: 16px;
  --glass-blur: blur(7.9px);
}

* {
  box-sizing: border-box;
  color: var(--font-color);
  transition: all 0.25s ease;
  cursor: default;
  scroll-behavior: smooth;
  z-index: 50;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size);
  z-index: 10;
  background: var(--theme-background);
}
.page-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0.9;
}
/* HEADER */
.header {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 100;
}
/* HANDLER CONTAINER */
.handler-container {
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5000000;
  background: var(--theme-background-dark);
  backdrop-filter: var(--glass-blur);
  -webkit-box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
/* LANGUAGES HANDLER */
.languages-handler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3.5px;
  width: fit-content;
  z-index: 5000000;
}
.languages-handler__item {
  cursor: pointer;
  z-index: 5000000;
}
.languages-handler__item:not(:last-of-type) {
  margin-right: 7.5px;
  padding-right: 7.5px;
  border-right: 1px solid var(--font-color);
}
.languages-handler__item.languages-handler__item_active {
  color: var(--theme-color);
}

/* MENU */
.menu {
  overflow: hidden;
  width: 350px;
  height: 100%;
  padding: 20px 5%;
  position: fixed;
  right: -400px;
  top: 0;
  background: var(--theme-background-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  z-index: 10000;
  transition: all 1s ease;
  backdrop-filter: var(--glass-blur);
  -webkit-box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.menu_active {
  width: 350px;
  right: 0;
  top: 0;
}
.menu-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 7.5px;
  width: 25px;
  height: 10px;
  margin: 6.5px;
  cursor: pointer;
  z-index: 50000000;
}
.menu-handler_active.menu-handler {
  width: 25px;
  height: 25px;
  row-gap: 0;
  transform: rotate(45deg);
}
.menu-handler__line {
  display: flex;
  position: relative;
  width: 25px;
  height: 1px;
  background: var(--theme-color-white);
  cursor: pointer;
}
.menu-handler_active .menu-handler__line {
  position: absolute;
  transform: rotate(90deg);
  top: 10px;
  right: 0;
  transition: background-color 1s ease;
}
.menu-handler_active .menu-handler__line:first-of-type {
  left: 0;
  transform: rotate(0deg);
}
.menu-handler:hover .menu-handler__line,
.menu-handler__line:hover {
  background-color: var(--theme-color);
}
.menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 15px;
  column-gap: 10px;
  opacity: 0;
}
.menu_active .menu-items {
  opacity: 1;
}
.page_loading .menu_active .menu-items_main {
  opacity: 0;
}
.menu-items.menu-items_social {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.menu-item {
  display: flex;
  opacity: 1;
}
.menu-item:not(.menu-item_active):hover {
  opacity: 0.8;
}
.menu-item_active {
  color: var(--theme-color);
  padding-left: 10px;
  cursor: default;
}
.menu-item__title {
  width: 100%;
  font-weight: 300;
  font-size: 1.25rem;
}
.menu-item__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 0.875rem;
  cursor: pointer;
}
.menu-item__link i {
  font-size: 1.25rem;
  cursor: pointer;
}
.menu-item__text {
  cursor: pointer;
}
.menu-item_active .menu-item__text,
.menu-item_active .menu-item__link i {
  color: var(--theme-color);
  cursor: default;
}

/* HEADER CONTENT */
.header-main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.header-image {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-image__title {
  font-size: 1.125rem;
  padding: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  backdrop-filter: var(--glass-blur);
  border-radius: 2px;
  z-index: 6000;
}
.header-image__title::after {
  content: "";
  display: block;
  background: var(--font-color);
  width: 30%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-image__image {
  width: 100%;
  z-index: 5000;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15);
}
.header-image__frame {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid;
  position: absolute;
  top: 15px;
  left: -15px;
  border-image: linear-gradient(
      to bottom left,
      transparent 40%,
      var(--theme-color-white) 150%
    )
    1;
  opacity: 0.75;
  z-index: 1000;
}
.header-image__frame:nth-of-type(2) {
  top: 30px;
  left: -30px;
  opacity: 0.5;
  z-index: 900;
}
.header-image__frame:nth-of-type(3) {
  top: 45px;
  left: -45px;
  opacity: 0.25;
  z-index: 800;
}
.header-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  opacity: 1;
}
.page_loading .header-content {
  opacity: 0;
}
.header-content__title {
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  margin-right: auto;
  position: relative;
  display: flex;
  padding: 5px;
  backdrop-filter: var(--glass-blur);
}
.header-content__title:after {
  content: "";
  display: block;
  background: var(--font-color);
  width: 30%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-content__description {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 300;
  text-align: justify;
  margin-right: auto;
  width: 75%;
  padding: 10px;
  backdrop-filter: var(--glass-blur);
  border: 1px solid;
  border-image: linear-gradient(
      to bottom left,
      transparent 65%,
      var(--theme-color-white) 235%
    )
    1;
}
/* HEADER DETAILS */
.header-details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  row-gap: 10px;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  backdrop-filter: var(--glass-blur);
  border: 1px solid;
  border-image: linear-gradient(
      to bottom left,
      transparent 65%,
      var(--theme-color-white) 235%
    )
    1;
}
.header-detail {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* MAIN */
.main {
  z-index: 1000;
  position: relative;
}

/* SECTION */
.section {
  width: 100%;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* SECTION HEADER */
.section-header__title {
  width: 90%;
  font-size: 1.5rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  margin-right: auto;
  position: relative;
  display: flex;
  padding: 5px;
  backdrop-filter: var(--glass-blur);
}
.section-header__title::after {
  content: "";
  display: block;
  background: var(--font-color);
  width: 20%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.section-header__subtitle {
  width: 90%;
  margin: 15px auto;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 300;
  text-align: left;
  position: relative;
  display: flex;
  padding: 5px;
  backdrop-filter: var(--glass-blur);
}
/* TIMELINE */
.timeline {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
.timeline-item {
  width: 90%;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  position: relative;
  backdrop-filter: var(--glass-blur);
  border: 1px solid;
  border-image: linear-gradient(
      to bottom left,
      transparent 65%,
      var(--theme-color-white) 235%
    )
    1;
  transition: border-image 1s ease;
}
.timeline-item:hover {
  border-image: linear-gradient(
      to bottom left,
      transparent 15%,
      var(--theme-color-white) 200%
    )
    1;
}
.page_loading .timeline-item {
  opacity: 0;
}
.timeline-item__detail {
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.timeline-item__title {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.125rem;
}
.timeline-item__title_detail {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1.5px solid var(--theme-color-white);
}
.timeline-item__subtitle {
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 1.125rem;
}
.timeline-item__description {
  font-weight: 300;
  font-style: italic;
  text-align: justify;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
/* EDUCATION */
.section#education {
  margin-top: 80px;
}
/* CARDS */
.cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  padding-bottom: 50px;
  row-gap: 5px;
  column-gap: 5px;
}
.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 15px;
  background: var(--theme-background-dark);
  backdrop-filter: var(--glass-blur);
}
.card:nth-of-type(1) {
  background: #6e6e6e33;
}
.card:nth-of-type(2) {
  background: #45454533;
}
.card:nth-of-type(3) {
  background: #52525233;
}
.card__header {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 10px;
}
.card__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
}
.card__description {
  font-weight: 300;
  font-style: italic;
  text-align: justify;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
}
.card:nth-of-type(2):not(.card_small),
.card:nth-of-type(4):not(.card_small) {
  transform: translateY(50px);
}
.card:hover {
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.15);
}
.card:hover .card__title,
.card:hover .card__detail,
.card:hover .card__subtitle {
  color: var(--theme-color);
  opacity: 0.75;
}
.cards.cards_small {
  justify-content: space-evenly;
  margin-top: 60px;
}
.card.card_small {
  width: 300px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.card.card_dark {
  background: var(--theme-background-dark);
}
/* SKILLS */
/* CHART */
.list {
  width: 80%;
  margin: 60px auto 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  row-gap: 45px;
  flex-wrap: wrap;
}
.list-item {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  backdrop-filter: var(--glass-blur);
}
.list-item__title {
  width: 100%;
  text-transform: uppercase;
}
.list-item__line {
  position: relative;
  width: 100%;
  height: 1px;
  background: var(--theme-background-light);
}
.list-item__line_perc {
  width: 100%;
  height: 1px;
  background: var(--theme-color);
  position: absolute;
  left: 0;
  top: 0;
}
/* PROJECTS */
/* TWO COLUMNS */
.two-columns {
  width: 75%;
  display: flex;
  margin: 40px auto;
}
/* FIX IMAGE SIZE */
.two-columns__image {
  width: 200px;
}
